* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  font-style: inherit;
  text-decoration: none;
  color: white;
}

img {
  width: 60px;
  height: 60px;
  border-radius: 80px;
  border: solid rgb(194, 125, 125);
  object-fit: cover;
  border-radius: 50%;
}
header {
  background-color: #27ae60;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
li {
  display: inline;
  padding: 40px;
  font-family: sans-serif;
  list-style: none;
  font-family: sans-serif;
}
ul a:hover {
  text-decoration: underline;
  font-size: 20px;
  color: rgb(167, 33, 33);
}

.contents {
  margin-top: 4rem;
  display: flex;
  margin: 50px 20px 30px 100px;
min-height: calc(100vh - 50px);
/* height: 100%; */
}
footer {
    font-size: 15px;
    background-color: #e6fdef;
    padding: 1rem 0;
    text-align: center;
}

#image2 {
  margin-right: 100px;
  height: 30%;
  width: 30%;
 

}

#image2 img {
  height: 410px;
  width: 260px;
  object-fit: cover;
  border: none;
  border-radius: 15px;
  border: solid rgb(180, 177, 182);
  border-style: double;
  padding: 0px;
 
}

.maincontents {
  font-style: inherit;
  /* margin-top: 8rem; */
  font-family: sans-serif;
  width: 60%;
  /* height: 70%; */
  /* min-width: 50%; */
  /* line-height: 1.5em; */
  /* letter-spacing: 0.1em; */
  word-spacing: 0.3em;
  font-weight: 600;
}

h3{
    font-weight: 1000;
}